
body {
    display: flex;
    flex-direction: column;
    flex: 1;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 32px;
    gap: 16px;
}

.header, .hero {
    background-color: #1f2937;
    color: #f9faf8;
}

.profile-pic {
    max-width: 70px;
    max-height: 70px;
    border-radius: 50%;
}

.leftside {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 24px;
    color: #f9faf8;
    
}

.rightside {
    display: flex;
    gap: 16px;
}

.rightside a {
    color: white;
    text-decoration: none;
}

.hero {
    display: flex;
    justify-content: space-around;
    gap: 50px;
    padding: 50px;
}

.herocontent {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: 500px;
}

.container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 200px;
    padding: 20px;
}

.container3 {
    background-color: #e5e7eb;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
} 

.quote {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.qauthor {
    display: flex;
    justify-content: center;
    font-weight: 700;
}