
body {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-pic {
    max-width: 70px;
    max-height: 70px;
    border-radius: 50%;
}

.hero {
    display: flex;
    justify-content: space-around;
    gap: 50px;
}

.herocontent {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: 500px;
}

.mervebushes {
    width: 700px;
}